<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".woofcorner_recycle_view"></activity>
        <activity android:name=".admin_account" />
        <activity android:name=".Registratiion" />
        <activity android:name=".woofadmin_addItem" />
        <activity android:name=".woofadmin_selectedProductView" />
        <activity android:name=".woofadmin_viewProduct" />
        <activity android:name=".woofprofile_updateProfile" />
        <activity android:name=".woofprofile_viewProfile" />
        <activity android:name=".woofshop_viewBill" />
        <activity android:name=".woofshop_view_cart" />
        <activity android:name=".woofshop_view_product" />
        <activity android:name=".woofshop_show_products" />
        <activity android:name=".woofshop_show_orders" />
        <activity android:name=".woofadmin_orders" />
        <activity android:name=".woofcorrner_add_post" />
        <activity android:name=".woofcorner_edit_post" />
        <activity android:name=".woofcorner_view_post" />
        <activity android:name=".woofcorner_myAds" />
        <activity android:name=".woofcorner_viewad" />
        <activity android:name=".woofcorner_show_ads" />
        <activity android:name=".Home" />
        <activity android:name=".woofcare_show_clinics" />
        <activity android:name=".woofcare_clinc_details" />
        <activity android:name=".woofadmin_org_addDetails" />
        <activity android:name=".woofadmin_org_update" />
        <activity android:name=".woofadmin_org_details" />
        <activity android:name=".woofadmin_organization_view" />
        <activity android:name=".woofadmin_menu" />
        <activity android:name=".login_activity" />
        <activity android:name=".app_woofprofile_menu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>